<div class="login">
	<h1>Login to Trello</h1>
	<%= form_for(:session, url:login_path) do |f| %>
		<p><%= f.label :mail %></p>
		<p><%= f.email_field :mail %></p>
		<p><%= f.label :password %></p>
		<p><%= f.password_field :password %></p>
		<p><%= f.submit "login" %></p>
		<p><%= link_to 'sign upページ', signup_path %></p>
	<% end %>
</div>


