<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for(:session, url:login_path) do |f| %>
	<%= f.label :mail %>
	<%= f.email_field :mail %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit "ユーザ登録" %>
<% end %>

<%= link_to 'sign upページ', signup_path %>
