<%= link_to 'ユーザー詳細に戻る', user_path(@user) %>
<h1>グループ作成</h1>
<%= form_for(@group) do |f| %>
    <%= f.text_field :group_name %>
    <%= f.text_field :description %>
    <%= f.attachment_field :group_image %>
    <%= f.submit '作成' %.
<% end %>








t.string "group_name"
t.text "description"
t.text "group_image"
t.integer "owner_user_id"