<%= link_to 'ユーザー詳細に戻る', user_path(@user) %>
<h1>グループ作成</h1>
<%= form_for(@group, url: user_groups_path(@user)) do |f| %>
    <label>グループ名</label>
    <%= f.text_field :group_name %><br>
    <label>説明</label>
    <%= f.text_field :description %><br>
    <%= f.file_field :group_image %>
    <%= f.submit '作成' %>
<% end %>